/* Add your CSS styles here */
body {
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: #FFF;

    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 92.2%
}


button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.sec1{

    background-color: #202020;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-items: center;
    gap: 40px;


}

.sec2{

    background-image: url(assets/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;

}

.destaq{

    color: #FFF;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 92.2%;

}

.destaq0 {

    color: #202020;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 92.2%;

}

.destaq1{



}

.destaq2{

    font-size: 40px;

}